footer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    background-color: rgba(194, 56, 194, 0.723);
    color: white;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    padding: 0.5rem 0;
    border-top: 5px solid gainsboro;
}

@media only screen and (min-width: 2560px) {
    footer {
        font-size: 3rem;
    } 
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    footer {
        font-size: 1rem;
    }
}